#gift{
    margin-bottom:50px;
}

#gift-content{
    margin-top:30px;
    line-height: 200%;
}

.skill-name{
    display: inline-block;
    vertical-align:top;
}

.skill-desc{
    margin-left:56px;
    width:570px;
    display: inline-block;
}

.skill-test{
    margin-top:10px;
    margin-left:39px;
    width:946px;
}

.skill-icon{
    float:right;
    margin-top:13px;
    display:inline-block;
    border: 3px solid #BB3441;
    box-shadow: 4px -24px 3px -5px #fff;
    width:25px;
    height: 25px;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); /* Opera */
}

.skill-icon-list{
    vertical-align:top;
    display:inline-block;
    width:23px;
}

.test-icon{
    display:inline-block;
    width:45px;
    height: 45px;
    border: 3px solid #BB3441;
    margin-left:-51px;
    background:rgba(0,0,0,0);
    box-shadow: -32px -3px 2px -19px #fff, 11px -35px 2px -15px #fff, 36px -37px 2px -9px #fff, 35px -10px 2px -13px #fff;
    transform:rotate(45deg);
    -ms-transform:rotate(45deg); /* Internet Explorer */
    -moz-transform:rotate(45deg); /* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); /* Opera */
}