.piiic-main-container{
    width : 1024px;
    height : 3000px;
    margin:auto;
    position: relative;
}
.background-header{
    /*opacity: 1;*/
    width : 1024px;
    height : 1573px;
    background: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(0,0,0,0)),url("../img/nosie-header-min.jpg");
    /*linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(0,0,0,0)),*/
    background-size:100%;
    position:relative;
    z-index:999;
    color:white;
}
.background-body{
    width : 1024px;
    height : 3000px;
    background: url("../img/nosie-background-repeat-min.jpg");
    background-size:100%;
    position:relative;
    z-index:999;
}
img{
    display:inline;
}
.back-line{
    position: absolute;
    top:642px;
}
.line-opacity{
    position: absolute;
    top:702px;
}
.character-weapon{
    position: absolute;
    top: 737px;
    left: 687px;
}
.character-noweapon{
    position: absolute;
    top:150px;
}
.arknight{
    position: absolute;
    top:10px;
    left:15px;
}
.moyulogo{
    position: absolute;
    top:30px;
    right:70px;
}
.line-character{
    position: relative;
    top: -80px;
    left:20px;
    font-size: 97px;
    color:white;
}

.base-info{
    position:absolute;
    top:150px;
    right:17px;
    font-size:20px;
    color:white;
}

.character-sign {
    width:320px;
    position:absolute;
    top:396px;
    right:251px;
    font-family:'Adobe 黑体 Std R';
}

.attack-scale{
    position:absolute;
    width:100px;
    background:rgba(0,0,0,0.5);
    font-family: "Adobe 繁黑體 Std B";
    top:48px;
    right:24px;
    font-size:30px;
    text-align:center;
    line-height:100%;
}

.right-font{
    position:absolute;
    top: 198px;
    right: -331px;
    background:rgba(0,0,0,0);
    height:52px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    font-family: "Adobe 黑体 Std R";
    font-size:70px;
    font-style: italic;
    font-weight:600;
    color:white;
    overflow:hidden
}

/*背景图层*/
.back-curtain1{
    position: absolute;
    right: 0px;
    width: 470px;
    border-bottom: 642px solid #BB3441;
    border-left: 84px solid transparent;
}
.back-curtain2{
    position: absolute;
    left: 0px;
    width: 150px;
    border-top: 643px solid #BB3441;
    border-right: 101px solid transparent;
}
.curtain-distance{
    height:711px;
}


