.piiic-main-container{
    width : 1024px;
    height : 3000px;
    margin:auto;
    position: relative;
}
.background-header{
    /*opacity: 1;*/
    width : 1024px;
    height : 1573px;
    background: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(0,0,0,0)),url("../img/nosie-header.jpg");
    /*linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(0,0,0,0)),*/
    background-size:100%;
    position:relative;
    z-index:999;
}
.background-body{
    width : 1024px;
    height : 3000px;
    background: url("../img/nosie-background-repeat.jpg");
    background-size:100%;
    position:relative;
    z-index:999;
}
.background-header img{
    display:block;
}
.back-line{
    position: absolute;
    top:846px;
}
.line-opacity{
    position: absolute;
    top:902px;
}
.character-weapon{
    position: absolute;
    top: 919px;
    left: 687px;
}
.character-noweapon{
    position: absolute;
    top:330px;
}
.arknight{
    position: absolute;
    top:30px;
    left:20px;
}
.moyulogo{
    position: absolute;
    top:50px;
    right:70px;
}
.line-character{
    position: relative;
    top: -104px;
    left:20px;
    font-size: 97px;
    color:white;
}
