.piiic-main-container{
    width : 1024px;
    height : 3000px;
    margin:auto;
    background:url("../img/block.png");
}
.background-header{
    /*opacity: 1;*/
    width : 1024px;
    height : 1575px;
    background: linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(0,0,0,0)),url("../img/nosie-header.jpg");
    /*linear-gradient(to bottom,rgba(255,255,255,0.1),rgba(0,0,0,0)),*/
    background-size:100%;
    font-size:0
}
.background-body{
    width : 1024px;
    height : 3000px;
    background: url("../img/nosie-background-repeat.jpg");
    background-size:100%;
    font-size:0
}
