/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0px;
    padding: 0px;
}

/* 对于文字可以复制 */
h1, h2, h3, h4, h5, h6, p{
    cursor:text;
}

*{box-sizing: border-box;}
html, body {
    min-height: 100%;
}

body {
    font-size:14px;
    background:#444;
    color:#333;
    font-family:"黑体"
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
    list-style: none;
}

/* 对于图片不能选中 */
img {
    border: none;
    vertical-align: middle;
    moz-user-select: -moz-none;
    -moz-user-select: none;
    -o-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

a {
    text-decoration: none;
    color: #232323;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

input, textarea {
    outline: none;
    border: none;
}

textarea {
    resize: none;
    overflow: auto;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    width: 0;
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
    overflow:hidden;
}

.fl {
    float: left
}

.fr {
    float: right
}

.tl {
    text-align: left;
}

.tc {
    text-align: center
}

.tr {
    text-align: right;
}

.ellipse {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.present{
    box-shadow: inset -1px -6px 11px -7px #FFF;
}


/* 弹框css */
#alert{
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.alert-curtain{
    width:32%;
    height:20%;
    position: fixed;
    left:34%;
    top:40%;
    background:rgba(255,255,255,0.7);
    font-size:22px;
}
.alert-inner-border{
    width:84%;
    height:76%;
    position: absolute;
    left:7%;
    top:12%;
    border:3px solid rgba(0,0,0,0.3);
    display: table;
}
.alert-inner-word {
    display: table-cell;
    text-align:center;
    vertical-align:middle;
    line-height: 100%;
}
.alert-inner-rectangle{
    position:absolute;
    right:5%;
    top:30%;
    width:22%;
    height:40%;
    border: 8px solid rgba(0,0,0,0.7);
}
.alert-inner-img{
    width: 24%;
    height: 80%;
    position:absolute;
    left:2%;
    top: 10%;
}
.alert-inner-img-1{
    font-size:80px;
    margin-left:20%;
    position: relative;
}
.alert-inner-img-2{
    font-size:70px;
    position: absolute;
    top:0;
    color:white;
    display: table
}
.alert-inner-img-3{
    width:100%;
    height:50%;
    display:table-cell;
    text-align: center;
    vertical-align: middle;
    font-size:60px;
    position: absolute;
    top:10%;
    color:rgba(0,0,0,0.7);
}
/* 弹框css */
