body{
    overflow: hidden;
}
.list-body{
    width:100%;
    text-align:center;
    position: relative;
}
.list-body .cover{
    width:100%;
    height:100%;
    opacity:0.5;
    background: #444444;
    position: absolute;
    z-index:4;
}
#background-img{
    display: inline-block;
}
.list-body-middle{
    position:absolute;
    left:calc(50% - 512px);
    z-index:5;
    height:100%;
    width:1024px;
}
.list-search-tap{
    margin:0 auto;
    height:140px;
    position: relative;
}
.search-tap-duty{
    position: absolute;
    top:20px;
    height:50px;
    width:100%;
    line-height:50px;
}
.search-tap-range{
    position: absolute;
    top:90px;
    height:50px;
    width:100%;
    line-height:50px;
}

.search-tap-duty div,.search-tap-range div{
    float:left;
    border:1px solid white;
    width:100px;
    height:100%;
    text-align: center;
    font-size:22px;
    color: white;
}
.search-tap-duty .first,.search-tap-range .first{
    background:#03B7FF;
}
.list-piiic-list{
    margin-top:20px;
    overflow:scroll;
    overflow-x:hidden;
}
.list-piiic-list div{
    float:left;
    border:1px solid white;
    width:338px;
    height:33%;
}

::-webkit-scrollbar{
    width: .6em;
    height: 1em;
    background: #ffd90e;
}
::-webkit-scrollbar-thumb {
     background: #03B7FF;
 }
